<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859626842263-qfs559kveol02mhr6ov7dog7os5030qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859626842263-qfs559kveol02mhr6ov7dog7os5030qv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859626842263-leuut64vmofffc4df8hg0skq5nkv537e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCz9qF3B4pdPJjbP38Y720okM4XMWawPME</string>
	<key>GCM_SENDER_ID</key>
	<string>859626842263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HwigGames.IDLEunimo</string>
	<key>PROJECT_ID</key>
	<string>unimo-startree-60520</string>
	<key>STORAGE_BUCKET</key>
	<string>unimo-startree-60520.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859626842263:ios:c938673c2ec043a6b3a1d2</string>
	<key>DATABASE_URL</key>
	<string>https://unimo-startree-60520-default-rtdb.firebaseio.com</string>
</dict>
</plist>